@import './colors.css';
@import './footer.css';
@import './mobile/footer-mobile.css';
@import './index.css';
@import './patient.css';
@import './auth.css';

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background-primary);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer {
    flex-shrink: 0;
}

