.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color: #40454b;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    color: #bc1111;
    text-decoration: none;
}

.logo-image {
    width: 5vw; 
    height: auto; 
}
