{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block body %}
<h2> Menu des infirmiers </h2>
<div class="container-center">
    <a href="{{ path('app_arrivee_patient', {'id': patient.id}) }}" class="big-button">Gérer les arrivées des patients</a>
    <a href="{{ path('app_sortie_patient') }}" class="big-button">Gérer les sorties des patients</a>
</div>
{% endblock %}